.title {
  text-align: center;
}

/* .register-form {
  display: flex;
  flex-direction: column;
  align-content: start;
} */

.register-btn,
.name-input,
.contact-input {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}
