.title {
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.register-btn,
.name-input,
.contact-input,
.list-number,
.search-bar {
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

.search-input {
  display: flex;
}

.list-number {
  border-bottom: 1px black solid;
}
